/* EasyFilter - Drop-down */
#easyfilter, #easyfilter ul {padding: 0;margin: 0;list-style: none}
#easyfilter {font-weight:bold;height:2.09em;font: bold 96% arial;margin: 0 105px 0 40px}
#easyfilter li {position:relative;background: #999;float: left;width: 20em;display:block;margin: 0;border-bottom: 3px solid #666;border-right: 3px solid #252525;padding:0}
#easyfilter a, #easyfilter a:link, #easyfilter a:visited, #easyfilter a:hover, #easyfilter a:active {text-decoration:none;cursor:pointer;color:#fff;display: block;padding: 4px 10px 2px}
#easyfilter a:hover {color:#000}

#easyfilter li ul {border-left: 1px solid #c00;background: #f6f6f6 url("images/featurebox_bg.gif") no-repeat 100% 100%;width:15.8em;font-size:90%;margin-top:3px;position: absolute;font-weight:normal;left: -999em}
#easyfilter li:hover ul, #easyfilter li.sfhover ul {left: 0;z-index:99999}

#easyfilter li li {background:none;float:none;border:none;border: 1px solid #999;border-top:1px solid #fff;border-right:none;border-left:none;padding-left:0}
#easyfilter li li.last {border-bottom:none}
#easyfilter li li a, #easyfilter li li a:link, #easyfilter li li a:visited, #easyfilter li li a:hover {color:#000;padding: 3px 10px 2px;width:14em}
#easyfilter li li a:hover {color:#fff;background:#c00}

#easyfilter li.active {background: #c00;border-bottom: 3px solid #c00}
#easyfilter li.active ul {border:none;background: #c00 url("images/featurebox2_bg.gif") no-repeat 100% 100%}
#easyfilter li.active a:link, #easyfilter li.active a:visited, #easyfilter li.active a:hover, #easyfilter li.active a:active {}
#easyfilter li.active a:hover {color:#000}

#easyfilter li.active li {border:none;border-top: 1px solid #c15c5c;border-bottom: 1px solid #870000}
#easyfilter li.active li.last {border-bottom: none}
#easyfilter li.active li a:link, #easyfilter li.active li a:visited, #easyfilter li.active li a:hover, #easyfilter li.active li a:active {color:#fff}
#easyfilter li.active li a:hover {background: #666 url("images/sprites.gif") repeat-x 0 99%;color:#fff}

#easyfilter li.active li.active a:link, #easyfilter li.active li.active a:visited, #easyfilter li.active li.active a:hover, #easyfilter li.active li.active a:active {color:#fff;font-weight:bold;background: #666 url("images/sprites.gif") repeat-x 0 99%}

/* hide from IE mac \*/
#easyfilter li {width:auto}
/* end hiding from IE5 mac */

